//Color
$primary-color:#2A9D8F;
$secondary-color:#F4A261;

$color-grey-dark: #777;

$black-color:#000;
$white-color:#fff;
$box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 8px;
$box-shadow-active:rgba(0, 0, 0, 0.2) 0px 2px 8px;

$default-font-size:1.6rem;

/*------------------------------------*\
* CONTAINER
\*------------------------------------*/
$container-max-width: 114.4rem;
/*------------------------------------*\
* COLUMNS
\*------------------------------------*/
$columns-number: 12;
$gutter: 3rem;

// Small devices (landscape phones, etc)
$screen-xs-max: 48em;

// Medium devices (tablets, 768px and up)
$screen-sm-min: 48em;

// Large devices (desktops, 992px and up)
$screen-md-min:62em;

// Extra large devices (large desktops, 1200px and up)
$screen-lg-min: 75em;